<!DOCTYPE html>
<html lang="en">
<%- include('./component/header') %>
<link rel="stylesheet" href="/navigation.css">

<body>

   <main>
 
      <article style="display: flex;justify-content: center; ">
        <div style="display: flex;flex-direction: column;" id="top">
            <h3 style="text-align: center;"> Oops, page is not found </h3>
            <a  style="text-align:center;" href="/">go back to home page</a>
        </div>
      

    </article>
   </main>
</body>
</html>