<!DOCTYPE html>
<html lang="en">
<%- include('./component/header') %>
<link rel="stylesheet" href="/navigation.css">

<body>

   <main>
 
      <article style="display: flex;justify-content: center; ">
        <div style="display: flex;flex-direction: column;" id="top">
            <h3 style="text-align: center;"> Oops,we couldn't find any email or password associate with your account </h3>
            <a  style="text-align:center;" href="/login">Click here to try again</a>
        </div>
      

    </article>
   </main>
</body>
</html>